body{
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}


@media (min-width: 900px) {
  .App{
    flex-direction: row;
    
  }
}